<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.tadbolmont.tabletopdeveloper">

	<application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".NewCharacterForm"
			android:label="@string/title_activity_new_character_form"
			android:parentActivityName=".MainActivity"
			android:windowSoftInputMode="stateHidden">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.tadbolmont.tabletopdeveloper.MainActivity" />
		</activity>
		<activity
			android:name=".CharacterDisplay"
			android:label="@string/title_activity_character_display" />
		<activity
			android:name=".CharacterFeatures"
			android:label="@string/title_activity_character_features"
			android:parentActivityName=".CharacterDisplay">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.tadbolmont.tabletopdeveloper.CharacterDisplay" />
		</activity>
		<activity
			android:name=".LevelUpScreen"
			android:label="@string/title_activity_level_up_screen"></activity>
	</application>

</manifest>